@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
  border: 2px silver solid;
  background-image: url('https://cdn.pixabay.com/photo/2016/06/20/13/44/paper-1468883_640.jpg');
  position: absolute;
  top: 40vh;
  width: 100vw;
}