@tailwind base;
@tailwind components;
@tailwind utilities;

.active
{
    color: orange;
    font-weight: 700;
}

.large
{
    color: green;
    font-weight: bolder;
    text-align: center;
}

.small
{
    color: green;
    font-weight: 700;
    text-align: center;

}